<div class="container text-center" >
  <h3> مرحبا بك  ف</h3>
  <h3 class="title">Kholasly</h3>
  <h3>عرفنا عليك</h3>
</div>
<div class="container justify-content-between mt-2">
  <div class="row">
    <div class="col-md-4" >
      <a routerLink="/RegisterUser">
      <div class="card text-center p-5 shadow border border-0 fw-bold">
          <i class="fa-solid fa-user fs-2"></i>
        <h3 >User</h3>
      </div>
      </a>
    </div>
    <div class="col-md-4" >
    <a routerLink="/RegisterWorker">
      <div  class="card text-center p-5 shadow border border-0 fw-bold">
        <i class="fa-solid fa-briefcase fs-2"></i>
        <h3>Worker</h3>
     </div>
    </a>
    </div>
      <div class="col-md-4" >
      <a routerLink="/LoginAdmin">
        <div  class="card text-center p-5 shadow border border-0 fw-bold">
          <i class="fa-solid fa-gear fs-2"></i>
        <h3>Admin</h3>
       </div>
      </a>
    </div>
  </div>
</div>
